:root {
    /* ### Primary */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    /* ### Neutral */
    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --shadow: rgba(0, 0, 0, .1);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    /* 15px */
    font-size: 0.9375rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

.container {
    /* 320px */
    min-width: 20rem;
    /* 392px */
    max-width: 24.5rem;
    /* 160px */
    margin: 10rem auto;
    /* 0px 4px */
    padding: 0 .25rem;
}

.title,
.card-title {
    font-weight: 600;
    color: var(--veryDarkBlue);
}

.title {
    /* 24px */
    margin-bottom: 1.5rem;
}

.title span {
    display: inline-block;
    font-weight: 200;
}

.main-description,
.description {
    color: var(--grayishBlue);
}

.main-description {
    margin-bottom: 4rem;
    font-size: 1.125rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* 32px */
    margin-top: 2rem;
    /* 8px */
    border-radius: .5rem;
    border-top: .25rem solid black;
    /* 32px */
    padding: 2rem;
    box-shadow: 1px 1px 4px 1px var(--shadow);
}

.card img {
    width: 4rem;
    height: 4rem;
    align-self: flex-end;
    margin-top: 2rem;
}

.border-red {
    border-top-color: var(--red);
}

.border-cyan {
    border-top-color: var(--cyan);
}

.border-orange {
    border-top-color: var(--orange);
}

.border-blue {
    border-top-color: var(--blue);
}

.attribution {
    /* 11px */
    font-size: .6875rem;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    font-weight: 600;
    font-family: inherit;
    color: var(--blue);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: inherit;
}